@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


        <environment include="Development">
            <p><strong>Development Environment Only Command - Prime Database from Google sheet primer <a asp-action="GoogleLoad">Google Load</a></strong></p>

        </environment>
        
    </div>
